<!-- ------------------------------------------ language-bar -------------------------------------------- -->
<div class="right-banner">
    <nav class="lang-btn" >
        <ul class="lang-links">
            <li class="lang-item"><a href="#">EN</a></li>
            <li class="lang-item"><a href="#">TW</a></li>
            <li class="lang-item"><a href="#">NL</a></li>
        </ul>
    </nav>
</div><!--right banner -->