<!-- ---------------------------------------- Hamburger menu --------------------------------------------->
<div class="left-banner">
    <div class="menu-btn">
        <div class="menu-btn-hamburger">
        </div>
    </div>
    <nav id="nav" class="nav">
        <ul class="nav-links">
            <li class="nav-item"><a href="/">HOME</a></li>
            <li class="nav-item"><a href="/preworks">Works</a></li>
            <li class="nav-item"><a href="/codeWorks">CodeWorks</a></li>
            <li class="nav-item"><a>Timeline</a></li>
            <li class="nav-item"><a>Story</a></li> 
        </ul>
    </nav>
</div><!--left banner -->